/*Initial styles*/

h1
{
	font-size:5vh;
}

h2
{
	font-size:3.5vh;
}

p
{
	font-size:2vh;
	text-align:justify;
	margin:2%;
}
body {
	font-size: 11px;
	min-width: 100%;
	align-items: center;
	background: #E7E3E7;
	padding-top: 50px;
	margin-bottom: 82px;
	font-style: normal;
	line-height: 1.4;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

#area-content{
    display: none;
}
#topBuff{
    display: none;
}

.page
{
	text-align:center;
	margin:0;
	padding:0;
}

#navMenu {
	background-color: #0c5338;
	height: 0%;
	width: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	display: none;
    transition:height .5s;
}
#navMenu:active {
    height:50%;
}

#topBuff {
	background-color: #0c5338;
	height: 8vh;
}

.navButton {
    background-color: #0c5338;
    border: none;
    border-top: 1px solid black;
    text-align: center;
    font-size: 3vh;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #E7E3E7;
}

.moreInfoButton {
    background-color: #0c5338;
    border: 1px solid black;
    text-align: center;
    font-size: 3vh;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #E7E3E7;
}

#navMenuClosed
{
	position:fixed;
	width:100%;
	height:8%;
	top:0;
	margin:0;
}

#openMenu
{
	height:100%;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	height:100%;
	padding-left:0;
}

li
{
	margin:0;
	padding:0;
	height:15%;
}